/* ====================== General */

body {
  background-color: #111111;
  min-height: 100vh;
}

body.error-404 {
  background-color: #2B4743;
}

.form-control {
  margin-bottom: 20px;
}

.btn {
  border-radius: 50px;
}


h1 {
  color: #E6E3DD;
  font-family: 'Archivo Black', sans-serif;
}
h2 {
  color: #E6E3DD;
  font-family: 'Archivo Black', sans-serif;
}

#home {
  color: #E6E3DD;
  font-family: 'Archivo Black', sans-serif;
  font-size: 100px;
}
#home2 {
  padding: 15px;
  border-radius: 1%;
  background-color: rgba(43, 71, 67,.90);
  color: #E6E3DD;
}

.empty {
  min-height: 100vh;
}
/* ======================= Nav */

.navbar {
  background-color: #2B4743;
  height: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  position: relative;
  z-index: 9999;
}

.navbar a {
  color:#E6E3DD;
  font-size: 13px;
  font-weight: bold;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand > img {
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 5px;
  width: 250px;
  border-radius: 2px;
}

ul.nav.navbar-nav {
  align-items: center;
}

ul.nav.navbar-nav li {
  margin: 0 0.5rem;
  display: flex;
}

.onboarding > .navbar {
  background-color: #2B4743;
  background-size: 100% 100%;
}

.onboarding .navbar-header {
  margin: 0 auto;
}

.onboarding .navbar-brand {
  margin: 0;
}

.onboarding .navbar-brand span {
  display: none;
}

.onboarding .nav.navbar-nav.navbar-right {
  position: absolute;
  right: 16px;
}

.onboarding > .navbar a {
  color: #E6E3DD;
}

.onboarding > .navbar form.navbar-form {
  display: none;
}

.onboarding {
  background-image: url('/static/images/background.jpg');
}
.background {
  background-image: url('/static/images/background.jpg');
  height: 100vh;
}

#login {
  padding: 15px;
  border-radius: 1%;
  background-color: rgba(43, 71, 67,.65);
}

/* ========================== Signup/Login */

#user_form input.form-control {
  font-size: 18px;
  font-weight: bold;
  padding: 12px;
  
}
#user_form p {
  color: #E6E3DD;
}

/* =========================== Edit Page */

.edit-btn-area {
  display: flex;
  justify-content: space-between;
}

.edit-btn-area > .btn {
  width: 48%;
}

/* ================================ 404 page */

.message-404 {
  color: #E6E3DD;
  margin-top: 2em;
  text-align: center;
}

.message-404 a {
  color: #E6E3DD;
}

.message-404 > h4.display-4 {
  font-size: 2.5em;
  color: #E6E3DD;
}

.message-404 .form-inline input {
  flex: 1;
}

.btn-custom {
  background-color: #2B4743;
  color: #E6E3DD;
}

.btn-custom2 {
  background-color: #E6E3DD;
  color: #2B4743;
}

#btn-custom2 {
  color: #2B4743;
}

#dropdown {
  color: #2B4743;
}

.main {
  height: 75px;
}



/* Loader Details */

:root {
	--b: #262626;
	--w: #dcdcd2;
}	

.content2 {
  --s: 3s; /* change speed */
}

*, *:before, *:after {
	box-sizing: border-box;
	transform-style: preserve-3d;
}

body.content2 {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 99vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--b);
}

.content2 {
	width: 50vmin;
	height: 50vmin;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	perspective: 1000vmin;
	position: relative; /* Add this line */
	top: calc(50% - 25vmin); /* Add this line */
	left: calc(50% - 25vmin); /* Add this line */
}

#subtitle {
	margin-top: auto; /* Add this line to push the h4 element to the bottom */
  color: #E6E3DD;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bars {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 6.5vmin 3vmin;
	animation: mirror1 calc(var(--s) * 2) ease 0s infinite;
	top: 0; /* Add this line */
	left: 0; /* Add this line */
}

.bars + .bars {
	transform: rotate(90deg) rotateX(180deg);
	animation: mirror2 calc(var(--s) * 2) ease calc(var(--s) / 2) infinite;
}

.bar {
	width: 44vmin;
	height: 3vmin;
	margin: 2vmin 0vmin;
	background: linear-gradient(90deg, #fff0 33%, var(--w) 33% 67%, #fff0 67% 100%);
	animation: grow var(--s) ease-in-out 0s infinite alternate; 
	background-size: 300%;
	background-position-x: -203%;
}

@keyframes mirror1 {
	0%, 47%, 99.99%, 100% { transform: rotate(180deg) rotateX(0deg); }
	47.01%, 99.98% { transform: rotate(180deg) rotateX(180deg); }
}

@keyframes mirror2 {
	0%, 47%, 99.99%, 100% { transform: rotate(90deg) rotateX(180deg); }
	47.01%, 99.98% { transform: rotate(90deg) rotateX(0deg); }
}

@keyframes grow {
	0%, 25% { background-position-x: -297%; }
	45%, 55% { background-position-x: -250%; }
	75%, 100% { background-position-x: -203%; }
}

.bar:nth-child(2) {
	animation-delay: calc(var(--s) * -0.02);
}
.bar:nth-child(3) {
	animation-delay: calc(var(--s) * -0.04);
}
.bar:nth-child(4) {
	animation-delay: calc(var(--s) * -0.06);
}
.bar:nth-child(5) {
	animation-delay: calc(var(--s) * -0.08);
}
.bar:nth-child(6) {
	animation-delay: calc(var(--s) * -0.1);
}
.bar:nth-child(7) {
	animation-delay: calc(var(--s) * -0.12);
}

.bars:nth-child(2) .bar:nth-child(1) {
	animation-delay: calc(calc(var(--s) * -0.001) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(2) {
	animation-delay: calc(calc(var(--s) * -0.02) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(3) {
	animation-delay: calc(calc(var(--s) * -0.04) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(4) {
	animation-delay: calc(calc(var(--s) * -0.06) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(5) {
	animation-delay: calc(calc(var(--s) * -0.08) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(6) {
	animation-delay: calc(calc(var(--s) * -0.1) - calc(var(--s) / 2));
}
.bars:nth-child(2) .bar:nth-child(7) {
	animation-delay: calc(calc(var(--s) * -0.12) - calc(var(--s) / 2));
}